@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

body {
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.header-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo p {
    font-family: Lato;
    color:  #222222;
    font-size: 27px;/* Approximation due to font substitution */
    font-weight: 300;
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 26px;
    width: 93px;
}

.logo span {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 27px;/* Approximation due to font substitution */
    font-weight: 900;
}

.browse {
    position: relative;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    font-family: Lato;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 37px;
    cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25BC';
  padding-left: 8px;
  font-size: 10px;
}

details[open]>summary::after {
  content: '\25B6';
}

.browse .br-det {
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    width: 265px;
    height: 533px;
}

.br-det ul {
    list-style-type: none;
}

.br-det > ul > li {
    padding-bottom: 2px;
}

.li-h  { 
    display: inline-block;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 13px; 
    padding-bottom: 8px;
    border-bottom: solid 1px;
    border-bottom-color: #e8e8e8;
    width: 236px;
}

.browse > ul > li {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 22px;
}

.br-det ul {
    margin-left: 22px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.tria {
    margin-left: 47px;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    z-index: 2;
    box-sizing: border-box;
    background-color: white;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.browse a {
    text-decoration: none;
    color:  #222222;
}

.browse img {
    padding-left: 8px;
    padding-right: 9px; 
    padding-bottom: 2px;
}

input {
    
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    border-left-style: none;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 317px;
    height: 39px;
    font-family: Lato;
    color:  #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    padding-left: 15px;
}

input placeholder {
    font-family: Lato;
    color:  #a4a4a4;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    line-height: 32px;/* Approximation due to font substitution */
    text-align: right;
}

button {
    height: 39px;
    width: 39px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background-color:  #ffffff;
    border-left-style: none;
}

form {
    height: 39px;
}

.header-right .cart-img {
    vertical-align: middle;
    margin-right: 26px;
    position: relative;
    display: inline-block;
    padding: 5px;
}

.cart-img:hover .cart-mega {
    display: block;
    z-index: 1;
}

.cart-mega {
    position: absolute;
    display: none;
    width: 265px;
    height: 443px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e8e8e8;
    top: 42px;
    box-sizing: border-box;
    padding: 16px;
}

.tria2 {
    width: 16px;
    height: 16px;
    margin-top: -25px;
    z-index: 2;
    box-sizing: border-box;
    background-color: white;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    margin-left: -6px;
}

.cart-item {
    display: flex;
    border-bottom: solid 1px #e8e8e8;
    margin-top: 14px;
    padding-bottom: 13px;
}

.short-about {
    padding-top: 7px;
}

.short-about > a > h4 {
    text-decoration: none;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
}

.short-about a {
    text-decoration: none;
}

.short-about > img {
    margin-top: 10px;
    margin-left: 1px;
}

.short-about > p {
    margin-top: 10px;
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
}

.cart-item > a > img {
    margin-right: 13px;
}

.x {
    margin-left: 55px;
    width: max-content;
    height: max-content;
    margin-top: 33px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 30px;
}

.total h4, p {
    color: #222222;
    font-size: 16px;
    font-weight: 700; 
}

.checkout {
    width: 228px;
    height: 53px;
    border: 1px solid #f16d7f;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.checkout h4 {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    padding-top: 17px;
}

.go-to-cart {
    width: 228px;
    height: 53px;
    border: 1px solid #eaeaea;
    text-align: center;
    text-decoration: none;
    display: block;
}

.go-to-cart h4 {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    padding-top: 17px;
}

.acc  {
    display: inline-block;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 11px;
    background-color:  #f16d7f;
    font-family: Lato;
    color:  #ffffff;
    font-size: 15px;/* Approximation due to font substitution */
    font-weight: 400;
    margin-bottom: 32px; 
    margin-top: 31px;
    text-decoration: none;
}

.acc img {
    padding-left: 8px;
    padding-right: 12px;
    padding-bottom: 2px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 19px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: border 0.1s;
}

.menu .menu-active {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 16px;
}

.menu > li > a:hover {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 16px;
}

.triangle {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: 47px;
    left: 35px;
    z-index: 1;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    display: none;
}

.mega {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 20px;
    display: none;
    position: absolute;
    top: 55px;
}

.menu > li:hover .mega {
    display: flex;
}

.menu > li:hover .triangle {
    display: block;
}

.mega-flex {
    margin-right: 46px;
}

.mega-flex:last-child {
    margin-right: 0;
}

.mega h4 {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.mega-menu {
    list-style-type: none;
}

.mega-menu a {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #646464;
    text-decoration: none;
}

.mega-menu a:hover {
    color: #f16d7f;
}

.slider {
    background-color: #e8e8e8;
    height: 614px;
}

.slider-container {
    height: 100%;
    background: url(img/slider.jpg) -200px -50px;
    display: flex;
    align-items: center;
}

.slider-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.slider-text h2 {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    line-height: 46px;
    margin-bottom: 12px;
}

.slider-text h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    line-height: 35px;
}

.slider-text span {
    color: #f16d7f;
}

.content {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-top: 98px;
}

.category {
    display: flex;
    width: 1141px;
    height: 823px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.b1 .baner-text {
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    margin-top: 25px;
    padding-left: 19px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
}

.b2 .baner-text {
    background-color: #ffffff;
    width: 125px;
    height: 50px;
    margin-top: 25px;
    padding-left: 18px;
    padding-right: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
}

.b3 .baner-text {
    background-color: #ffffff;
    width: 189px;
    height: 50px;
    margin-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
}

.b4 .baner-text {
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    margin-top: 25px;
    padding-left: 19px;
    padding-right: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
}

.baner-text h3 {
    font-family: Lato;
    color: #222222;
    font-size: 18px;
    /* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
}

.baner-text h2 {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
}

.baner1 {
    width: 560px;
    height: 542px;
}

.baner2 {
    width: 560px;
    height: 261px;
}

.b1 {
    background: url(img/baner1-1.png);
    margin-right: 21px;
    text-decoration: none;
}

.b2 {
    background: url(img/baner2-1.png);
    text-decoration: none;
}

.b3 {
    background: url(img/baner2-2.png);
    text-decoration: none;
}

.b4 {
    background: url(img/baner1-2.png);
    text-decoration: none;
}

.featured {
    text-align: center;
    margin-top: 100px;
    width: 1140px;
    height: 982px;
    margin-left: auto;
    margin-right: auto;
}

.featured h2 {
    font-family: Lato;
    color:  #222222;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 54px;/* Approximation due to font substitution */
    text-align: center;
}

.featured h5 {
    font-family: Lato;
    color:  #9f9f9f;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1139px;
    height: 747px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    text-align: left;
    position: relative;
    margin-bottom: 40px;
}

.item-link {
    display: block;
    text-decoration: none;
    width: 261px;
    height: 363px;
}

.item-link:hover {
    box-shadow: 0px 5px 8px 0 #00000028;
}


.item:hover img {
    filter: brightness(50%);
}

.item:hover .add-centre {
    display: block;
}

.item:hover .add-centre img {
    filter: brightness(100%);
}

.item-link p {
    text-align: center;
    color: #222222;
    font-size: 13px;
    text-align: left;
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 10px;
}

.item-link span {
    color: #f16d7f;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding-left: 14px;
    padding-bottom: 21px;
}

.add {
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 13px;
    background: none;
    border: solid 1px #ffffff;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.add img {
    padding-left: 12px;
    vertical-align: middle;
}

.add-centre {
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 98px;
    
}
add-centre:hover a {
    display: block;
}

.all {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 113px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    
}

.all p {
    font-family: Lato;
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: center;
    margin-left: 24px;
    margin-right: 15px;
    line-height: 3;
}

.all img {
    margin-left: 9px;
    margin-bottom: 1px;
}

.all a {
    text-decoration: none;
}

.info {
    display: flex;
    margin-bottom: 97px;
    margin-top: 137px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}

.info-baner {
    width: 767px;
    height: 529px;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 373px;
    background-color: #222224;
    color: #fbfbfb;
}

.inform {
    margin-top: 40px;
    margin-left: 31px;
    margin-right: 43px;
    box-sizing: border-box;
}


.inform > article > h2 {
    color: #fbfbfb;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.inform > article > p {
    padding-left: 80px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px;
    color: #fbfbfb;
}

.f1 {
    padding-right: 30px;
    padding-left: 5px;
    vertical-align: sub;
}

.f2 {
    padding-left: 5px;
    padding-right: 35px;
    vertical-align: sub;
}

.f3 {
    padding-left: 0px;
    padding-right: 31px;
    vertical-align: sub;
}

.subscribe {
    background: url(img/subscribe.png);
    width: 1618px;
    height: 438px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 97px;
}

.comment {
    display: flex;
}

.comment img {
    width: 83px;
    height: 83px;
    margin-left: 240px;
    margin-top: 111px;
}

.commentext p{
    width: 386px;
    height: 68px;
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    /* Text style for "“, Vestibu" */
    letter-spacing: 0.4px;
    margin-left: 28px;
    margin-top: 123px;
}

.commentext h3 {
    margin-left: 28px;
    margin-top: 19px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.commentext h4 {
    margin-left: 28px;
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.subs {
    margin-left: 162px;
    margin-top: 148px;
    text-align: center;
}

.subs h2 {
    font-size: 24px;
    letter-spacing: 0.6px;
}

.subs h3 {
    letter-spacing: 0.35px;
    font-size: 14px;
    padding-top: 5px;
}

.mail {
    margin-left: 165px;
    margin-top: 35px;
}

.email {
    width: 282px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.submit {
    width: 104px;
    height: 47px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-left: -4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding-right: 16px;
}

#about {
    margin-top: 109px;
    margin-left: auto;
    margin-right: auto;
    width: 996px;
    display: flex;
}

.ab {
    margin-right: 63px;
}

.ab h2 {
    margin-bottom: 29px;
    padding-bottom: 12px;
    color: #3e3e40;
    font-size: 27px;
    font-weight: 300;
    
}

.ab span {
    color: #f16d7f;
    font-weight: 400;
}

.ab img {
    padding-right: 13px;
    margin-bottom: -10px;
}

.p1a {
    width: 427px;
    height: 180px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}


.about h2 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 179px;
    margin-top: 45px;
}

.nav a {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.company {
    margin-right: 129px;
}

.company nav {
    width: 101px;
}

.nav a:hover {
    color: #f16d7f;
}

.information {
    margin-right: 80px;
    width: 144px;
}

.information nav {
    width: 144px;
}

.sh-category h2 {
    width: 148px
}

footer {
    height: 79px;
    background-color: #e6e6e6;
    margin-top: 89px;
}

#footer {
    width: 1244px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top:  30px;
}

#footer p {
    margin-left: 120px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.fb {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    color: #b2b2b2;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    background-color: #ffffff;
}

.fb:hover {
    color: #f7f7f8;
    background-color: #f16d7f;
}

.in {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    color: #b2b2b2;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    background-color: #ffffff;
    color:  #b2b2b2;
}

#social a {
    margin-right: 8px;

}